<!doctype html>
<html lang="en" data-bs-theme="light" dir="ltr" class="landing-pages">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password | Medical Clinic & Patient Management</title>
    <!-- Config Options -->
    <meta name="setting_options" content='{"saveLocal":"sessionStorage","storeKey":"huisetting","setting":{"app_name":{"value":"Kivicare"}}}'>
    <!-- Google Font Api KEY-->
    <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
    
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../assets/css/core/libs.min.css" />
    
    <!-- flaticon css -->
    <link rel="stylesheet" href="../assets/vendor/flaticon/css/flaticon.css" />
    
    <!-- font-awesome css -->
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/all.min.css" />
    
    <!-- Kivicare Design System Css -->
    <link rel="stylesheet" href="../assets/css/kivicare.min.css?v=1.4.1" />
    
    <!-- Custom Css -->
    <link rel="stylesheet" href="../assets/css/custom.min.css?v=1.4.1" />
    
    <!-- Rtl Css -->
    <link rel="stylesheet" href="../assets/css/rtl.min.css?v=1.4.1" />
    
    <!-- Customizer Css -->
    <link rel="stylesheet" href="../assets/css/customizer.min.css?v=1.4.1"/>
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    
    <style>
      .sign-in-page {
        background-image: url('../assets/images/background/file.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100%;
      }
    </style>
    <script src="../assets/js/context-path.js"></script>
  </head>
  <body class="body-bg landing-pages">
    <span class="screen-darken"></span>
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
        <div class="loader-body">
          <img src="../assets/images/loader.gif" alt="loader" class="light-loader img-fluid" width="200">
        </div>
      </div>
    </div>
    <!-- loader END -->
    <main class="main-content">
      <div class="position-relative">
        <!--Nav Start-->
        <!--bread-crumb-->
        <!--bread-crumb-->
      </div>
      <div class="sign-in-page position-relative">
        <div class="container">
          <div class="row justify-content-center align-items-center height-self-center h-100">
            <div class="col-lg-5 col-md-12 align-self-center">
              <div class="sign-user_card position-relative bg-white mx-auto">
                <div class="logo-img text-center mb-5">
                  <a href="home" class="navbar-brand m-0">
                    <span class="logo-normal">
                      <img src="../assets/images/logo/logo.png" alt="logo" class="img-fluid" loading="lazy">
                    </span>
                  </a>
                </div>

                <div id="emailForm">
                  <h4 class="mb-4 text-center">Forgot Password</h4>
                  <form>
                    <div class="custom-form-field">
                      <input type="email" id="email" name="email" placeholder="Email *" class="form-control mb-5" required>
                    </div>
                    <div class="iq-btn-container">
                      <button type="submit" class="iq-button text-capitalize border-0" id="sendOtpBtn">
                        <span class="iq-btn-text-holder position-relative">Send OTP</span>
                        <span class="iq-btn-icon-holder">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                          </svg>
                        </span>
                      </button>
                    </div>
                    <div id="otpLoading" class="text-center mt-3" style="display: none;">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <p class="mt-2">Sending OTP...</p>
                    </div>
                    <div id="errorMessageEmail" style="color: red; margin-top: 10px;"></div>
                  </form>
                </div>

                <div id="otpForm" style="display: none;">
                  <h4 class="mb-4 text-center">Reset Password</h4>
                  <form>
                    <div class="custom-form-field">
                      <input type="text" id="otp" name="otp" placeholder="OTP Code *" class="form-control mb-4" required>
                    </div>
                    <div class="custom-form-field">
                      <input type="password" id="newPassword" name="newPassword" placeholder="New Password *" class="form-control mb-4" required minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$" title="Password must be at least 6 characters with uppercase, lowercase, and number">
                    </div>
                    <div class="custom-form-field">
                      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *" class="form-control mb-5" required minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$" title="Password must be at least 6 characters with uppercase, lowercase, and number">
                    </div>
                    <div class="iq-btn-container">
                      <button type="submit" class="iq-button text-capitalize border-0">
                        <span class="iq-btn-text-holder position-relative">Reset Password</span>
                        <span class="iq-btn-icon-holder">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                          </svg>
                        </span>
                      </button>
                    </div>
                    <div id="errorMessageOTP" style="color: red; margin-top: 10px;"></div>
                  </form>
                </div>

                <div class="d-flex align-items-center mt-5 flex-wrap gap-2">
                  <p class="my-0 text-capitalize">Remember your password?</p>
                  <h5 class="sign_up_btn mb-0">
                    <div class="iq-btn-container">
                      <a class="iq-button iq-btn-link text-capitalize" href="login">
                        Sign In
                        <span class="btn-link-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="../assets/jslogic/forgotpwd.js" defer></script>

    <!-- Library Bundle Script -->
    <script src="../assets/js/core/libs.min.js"></script>
    <!-- Plugin Scripts -->
    <script src="../assets/js/plugins/slider-tabs.js"></script>
    <script src="../assets/js/plugins/fslightbox.js" defer></script>
    <!-- Lodash Utility -->
    <script src="../assets/vendor/lodash/lodash.min.js"></script>
    <!-- Utilities Functions -->
    <script src="../assets/js/iqonic-script/utility.min.js"></script>
    <!-- Settings Script -->
    <script src="../assets/js/iqonic-script/setting.min.js"></script>
    <!-- Settings Init Script -->
    <script src="../assets/js/iqonic-script/setting-init.js"></script>
    <!-- External Library Bundle Script -->
    <script src="../assets/js/core/external.min.js"></script>
    <!-- Kivicare Script -->
    <script src="../assets/js/kivicare.js?v=1.4.1" defer></script>
    <script src="../assets/js/kivicare-advance.js?v=1.4.1" defer></script>
  </body>
</html>